version: '2'

services:
    nginx:
        image: nginx:alpine
        networks:
        - adtmsnet
        volumes:
        - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
        - ./DTMathShared:/usr/share/nginx/html:ro

    php:
        image: php:fpm-alpine
        networks:
        - adtmsnet
        volumes:
        - ./php-fpm/error.conf:/usr/local/etc/php-fpm.d/error.conf:ro
        - ./DTMathShared:/scripts:ro
        - ./DTMathShared/logs:/scripts/logs

networks:
    adtmsnet:
        driver: "bridge"
